
Django==5.0.2
django-crispy-forms==2.1
djangorestframework==3.15.1
mysqlclient==2.1.1
pathspec==0.10.1
pillow==10.3.0
pkgconf==2.1.1.post9
pkgconfig==1.5.5
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-magic==0.4.27
python-memcached==1.62
reportlab==4.2.0
requests==2.32.3
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==1.26.18
whitenoise==6.6.0
